@charset "UTF-8";
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-image: url(images/body-background.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: white;
}

/*top*/
.top {
    position: absolute;
    background-image: url(images/home-top.png);
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 960px;
}

.top-header {
    text-align: center;
    font-size: 48px;
    padding-top: 15px;
    letter-spacing: 5%; /*文字間隔*/
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25); /*ドロップシャドウ*/
}

.top-title {
    display: flex;
    justify-content: center;
    padding: 180px;
    height: 90vh;
    font-size: 128px;
    letter-spacing: 30%; /*文字間隔*/
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5); /*ドロップシャドウ*/
}

/*nav*/
nav {
    /*画面上に固定*/
    position: fixed;
    top: 26px;
    right: 35px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    color: #B4937C;

    z-index: 100;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 14px;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 185px;
    height: 37px;
    border-radius: 100px;
}

.snsaicon {
    /*画面上に固定*/
    position: fixed;
    top: 180px;
    right: 35px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    z-index: 100;
}

.snsaicon a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.snsaicon a img {
    width: 34px;
}

/*uparrow*/
.uparrow {
    /*画面上に固定*/
    position: fixed;
    top: 650px;
    right: 35px;

    z-index: 100;
}

.uparrow img {
    width: 50px;
}